<div class="row flex-lg-nowrap" style="margin-top: 10px; margin-left:50px; margin-right:50px">  
    <div class="col mb-3">
      <div class="e-panel card">
          <div class="card-body" style="font-size:15px;">
            <div class="e-table">
                <div class="table-responsive table-lg mt-3">
                      <table class="table table-bordered">
                          <thead>
                        <tr>  
                            <th>ID</th>
                            <th style="width:250px;">Tên bác sĩ</th>
                            <th>Ngày hẹn</th>
                            <th>Giờ hẹn</th>
                            <th style="max-width:200px;">Ghi chú</th>
                            <th>Trạng thái</th>
                            <th class="text-center">Hành động</th>
                        </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td class="text-nowrap align-middle">bk220001</td>
                                <td class="text-nowrap align-middle"><a href="admin/profile-doctor.html">Nguyễn Thiện Hoàng</a></td>
                                <td class="text-nowrap align-middle">16/06/2022</td>
                                <td class="text-nowrap align-middle">08:00</td>
                                <td class="text-nowrap align-middle"></td>
                                <td class="text-nowrap align-middle">Đang chờ</td>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button data-bs-toggle="modal" data-bs-target="#kt_modal_edit_booking" class="btn btn-secondary badge" type="button">Sửa</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap align-middle">bk220002</td>
                                <td class="text-nowrap align-middle"><a href="admin/profile-doctor.html">Nguyễn Thiện Hoàng</a></td>
                                <td class="text-nowrap align-middle">16/06/2022</td>
                                <td class="text-nowrap align-middle">09:00</td>
                                <td class="text-nowrap align-middle"></td>
                                <td class="text-nowrap align-middle">Đang xử lý</td>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button data-bs-toggle="modal" data-bs-target="#kt_modal_edit_booking" class="btn btn-secondary badge" type="button">Sửa</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap align-middle">bk220003</td>
                                <td class="text-nowrap align-middle"><a href="admin/profile-doctor.html">Nguyễn Thiện Hoàng</a></td>
                                <td class="text-nowrap align-middle">16/06/2022</td>
                                <td class="text-nowrap align-middle">10:00</td>
                                <td class="text-nowrap align-middle"></td>
                                <td class="text-nowrap align-middle">Đã hoàn thành</td>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button data-bs-toggle="modal" data-bs-target="#kt_modal_edit_booking" class="btn btn-secondary badge" type="button">Sửa</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                        </div>
                        <div class="d-flex justify-content-center">
                            <ul class="pagination mt-3 mb-0">
                                <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                                <li class="active page-item"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                <li class="page-item"><a href="#" class="page-link">3</a></li>
                                <li class="page-item"><a href="#" class="page-link">4</a></li>
                                <li class="page-item"><a href="#" class="page-link">5</a></li>
                                <li class="page-item"><a href="#" class="page-link">›</a></li>
                                <li class="page-item"><a href="#" class="page-link">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>	