<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <!--begin::Post-->
    <div class="content flex-row-fluid" id="kt_content">
        <!--begin::About card-->
        <div class="card">
            <!--begin::Body-->
            <div class="card-body p-lg-17">
                <!--begin::Professioner-->
                <div class="mb-18">
                    <!--begin::Heading-->
                    <div class="text-center mb-12">
                        <!--begin::Title-->
                        <h3 class="fs-2hx text-dark mb-5">Các chuyên gia</h3>
                        <!--end::Title-->
                        <!--begin::Sub-title-->
                        <div class="fs-5 text-muted fw-bold">HEART sẽ giới thiệu đến bạn các chuyên gia chủ chốt, tận tâm và có nhiều năm kinh nghiệm hoạt động trong lĩnh vực tâm lý học. </div>
                        <!--end::Sub-title=-->
                    </div>
                    <!--end::Heading-->
                    <!--begin::Slider-->
                    <div class="tns tns-default mb-10">
                        <!--begin::Wrapper-->
                        <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="5000" data-tns-controls="true" data-tns-nav="false" data-tns-items="1" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev_1" data-tns-next-button="#kt_team_slider_next_1" data-tns-responsive="{1200: {items: 3}, 992: {items: 2}}">
                            <!--begin::Item-->
                            <div class="text-center">
                                <!--begin::Photo-->
                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('/img/thienhoang.jpeg')"></div>
                                <!--end::Photo-->
                                <!--begin::Person-->
                                <div class="mb-0">
                                    <!--begin::Name-->
                                    <a href="user/overview.html" class="text-dark fw-bolder text-hover-primary fs-3">Thầy Nguyễn Thiện Hoàng</a>
                                    <!--end::Name-->
                                    <!--begin::Position-->
                                    <div class="text-muted fs-6 fw-bold mt-1">Chuyên gia tâm lý</div>
                                    <!--begin::Position-->
                                </div>
                                <!--end::Person-->
                            </div>
                            <!--end::Item-->		
                            <!--begin::Item-->
                            <div class="text-center">
                                <!--begin::Photo-->
                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('/img/bichhai.jpeg')"></div>
                                <!--end::Photo-->
                                <!--begin::Person-->
                                <div class="mb-0">
                                    <!--begin::Name-->
                                    <a href="user/overview.html" class="text-dark fw-bolder text-hover-primary fs-3">Ths. Vũ Thị Bích Hải</a>
                                    <!--end::Name-->
                                    <!--begin::Position-->
                                    <div class="text-muted fs-6 fw-bold mt-1">Chuyên gia tâm lý lâm sàng</div>
                                    <!--begin::Position-->
                                </div>
                                <!--end::Person-->
                            </div>
                            <!--end::Item-->																				
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Button-->
                        <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev_1">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr074.svg-->
                            <span class="svg-icon svg-icon-3x">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z" fill="black" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </button>
                        <!--end::Button-->
                        <!--begin::Button-->
                        <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next_1">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
                            <span class="svg-icon svg-icon-3x">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="black" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </button>
                        <!--end::Button-->
                    </div>
                    <!--end::Slider-->
                    <!--end::Items-->
                </div>
                <!--end::Professioner-->	
                <!--begin::Booking-->
                <!--begin::Items-->
                <div class="text-center mb-12">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5">Đặt lịch hẹn</h3>
                    <!--end::Title-->
                    <!--begin::Sub-title-->
                    <div class="fs-5 text-muted fw-bold">Liệu bạn đang có những câu hỏi, nỗi lòng riêng không thể tỏ bày cùng ai ? Hãy cho đội ngũ chuyên gia của chúng tôi một cơ hội được lắng nghe câu chuyện của bạn !</div>
                    <!--end::Sub-title=-->
                </div>
                <form style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px; margin-right: 10px;">
                    <div>
                        <label for="selectDoctor" style="font-size: 15px;">Chọn bác sĩ</label>
                        <select id="doctor" class="form-control" style="margin-bottom: 10px;">
                            <option selected="">Bs. Nguyễn Thiện Hoàng</option>
                            <option>Ths. Trần Xuân Lĩnh</option>
                            <option>Ths. Hồ Nguyễn Phú Bảo</option>
                        </select>
                    </div>
                    <div>
                        <label for="selectDate" class="form-label" style="font-size: 15px;">Ngày hẹn</label>
                        <input type="date" class="form-control"  style="margin-bottom: 10px;" id="Date" placeholder="Ngày hẹn" value="">
                    </div>
                    <div>
                        <label for="selectTime" style="font-size: 15px;">Giờ khám</label>
                        <select id="doctor" class="form-control" style="margin-bottom: 10px;">
                            <option disabled="" selected="" value="">Chọn giờ</option>
                            <option value="8">08:00</option>
                            <option value="9">09:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                        </select>
                    </div>
                    <div class="mb-3" style="margin-bottom: 10px;">
                        <label class="form-label" for="note">Ghi chú</label>
                        <textarea class="form-control" type="text"  rows="4" id="note" name="note"></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit" style="border-radius: 30px">Đặt lịch</button>
                    </div>
                </form>
                <!--end::Items-->
                <!--end::Booking-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::About card-->
    </div>
    <!--end::Post-->
</div>