<footer style="margin-top:20px;">
    <div class="container py-4 py-lg-5">
        <div class="row" style="margin-bottom:-15px">
            <div class="col-sm-6 text-lg-start d-flex flex-column item">
                <h3 class="fs-6">Về chúng tôi</h3>
                <ul class="list-unstyled">
                    <li><a class="text-muted mb-0" style="text-decoration: underline;" href="user/about.html">Về chúng tôi</a></li>
                    <li><a class="text-muted mb-0" style="text-decoration: underline;" href="user/term-and-condition.html">Điều khoản & dịch vụ</a></li>
                    <li><a class="text-muted mb-0" style="text-decoration: underline;" href="user/privacy.html">Chính sách</a></li>
                </ul>
            </div>
            <div class="col-sm-6 text-lg-start d-flex flex-column align-items-lg-start order-lg-last item social">
                <div class="fw-bold d-flex"><img class="img-fluid" src="/img/dsd.png" style="width: 40px; margin-bottom:15px"></div>
                <li class="text-muted copyright">Địa chỉ: Số 20 Cộng Hoà, phường 12, quận Tân Bình, Tp. Hồ Chí Minh</li>
                <li class="text-muted copyright">Email: heartvietnam.org@gmail.com</li>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center pt-3" style="margin-top:-15px">
            <p class="text-muted mb-0">Copyright © 2022 HEART Vietnam - Clown of Life</p>
            <ul class="list-inline mb-0">
                <a href="https://www.facebook.com/HEART-Vietnam-104181528908773" class="mx-4">
                    <img data-src="/img/facebook-4.svg" class="h-30px my-2 lazyload" alt="" />
                </a>
                <a href="#" class="mx-4">
                    <img data-src="/img/instagram-2-1.svg" class="h-30px my-2 lazyload" alt="" />
                </a>
                <a href="#" class="mx-4">
                    <img data-src="/img/twitter.svg" class="h-30px my-2 lazyload" alt="" />
                </a>
            </ul>
        </div>
    </div>
</footer>